@{
    Layout = "_PasswordLayout";
    ViewData["Title"] = "Algorithms";
}

<div class="text-center">
    <h1>Algorithms</h1>
    <a href="/Password/simple">simple</a> <a href="/Password/ascii">ascii</a> <a href="/Password/shift">shift</a>
</div>
