@{
    Layout = "_PasswordLayout";
    ViewData["Title"] = "Algorithms";
}

<div class="text-center">
    <h1>Algorithms</h1>
    <a asp-controller="Password" asp-action="Simple">simple</a> <a asp-controller="Password" asp-action="Ascii">ascii</a> <a asp-controller="Password" asp-action="Shift">shift</a>
</div>
